/* TODO: Make a better style */
/* TODO: Change colors */

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 2px solid black;
	border-radius: 10px;
	height: 30%;
	width: 40%;
}

.output {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

#password {
	height: 30px;
	width: 270px;
	border: 2px solid black;
	padding-top: 5px;
	user-select: none;
	text-align: center;
}

#copy-button {
	height: 30px;
	width: 30px;
	margin: 10px;
	cursor: pointer;
}

.length-settings {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

#password-length {
	-webkit-appearance: none;
	appearance: none;
	margin: 10px;
	background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

#password-length::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	height: 30px;
	width: 10px;
	border-radius: 10px;
	background: yellow;
	transform: translateY(-7px);
	transition: 0.3s ease-in-out;
	box-shadow: -2px 1px 2px 0px rgba(0, 0, 0, 0.25);
	cursor: grab;
}

#password-length::-webkit-slider-thumb:active {
	cursor: grabbing;
}

#password-length::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	appearance: none;
	height: 16px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

.settings {
	margin: 10px;
}

input[type="checkbox"] {
	visibility: hidden;
}

input[type="checkbox"]:checked + label {
	color: black;
}

label {
	display: inline-flex;
	height: 40px;
	width: 70px;
	background: gray;
	color: white;
	border: 2px solid black;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	user-select: none;
}

#generate {
	height: 50px;
	width: 100px;
	border: 5px solid gray;
	outline: none;
	cursor: pointer;
}
